# Copyright 2025 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: Checkov

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions: {}

jobs:
  checkov:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        fetch-depth: 0 # Needed to fetch all history for accurate diff

    - uses: step-security/changed-files@95b56dadb92a30ca9036f16423fd3c088a71ee94 # v46.0.5
      if: github.event_name == 'pull_request'
      id: changed-files
      with:
        files_yaml: |
          tf:
            - '**/*.tf'
            - '**/*.tfvars'
          all:
            - .github/workflows/checkov.yaml
            - .checkov.yaml

    # On pushes, run on all files
    # On changes to workflow definitions, run on all files
    # On changes to *.tf files, run on changed tf files
    # When none of the above, skip
    - uses: imjasonh/another-checkov-action@392af04cb49ea61bcd64533b589f44116213d06b # v0.1.0
      if: github.event_name == 'push' || steps.changed-files.outputs.tf_any_changed == 'true' || steps.changed-files.outputs.all_any_changed == 'true'
      with:
        fail-on-error: 'false'
        checkov-flags: |
          ${{ (steps.changed-files.outputs.tf_any_changed == 'true' && steps.changed-files.outputs.all_any_changed != 'true') && format('--file {0}', steps.changed-files.outputs.tf_all_changed_files) || '' }}
