# Copyright 2022 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: Test

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Check out code onto GOPATH
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      # https://github.com/mvdan/github-actions-golang#how-do-i-set-up-caching-between-builds
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "./.go-version"
          check-latest: true
          cache: false

      - name: Test
        run: |
          # Exclude running unit tests against third_party repos.
          go test -race -timeout=5m ./...

      - run: |
          cd "$(mktemp -d)"
          wget -O protoc.zip https://github.com/protocolbuffers/protobuf/releases/download/v29.3/protoc-29.3-linux-x86_64.zip
          unzip protoc.zip -d .
          chmod +x ./bin/protoc
          echo "$(pwd)/bin" >> "$GITHUB_PATH"

      - run: |
          cd "$(mktemp -d)"
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.34.2
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.5.1

      - name: Ensure generated files are up-to-date
        run: go generate ./...

      - uses: chainguard-dev/actions/nodiff@b479012116eacde7f895586c17b598f7ba0ee700 # v1.5.9
        with:
          fixup-command: go generate ./...
