name: Validate, Lint and Test

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  lint-and-validate:
    name: "Terraform fmt and validate"

    permissions:
      contents: read

    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: chainguard-dev/actions/setup-terraform@1b32103f5aa389c31ab0be75a8edc38d7e4750d8 # v1.5.7
        with:
          terraform-version-file: './.terraform-version'
          terraform-wrapper: false

      - run: terraform fmt -check

      - run: |
          terraform init
          terraform validate
