name: Validate terraform

on:
  pull_request:
    branches:
      - 'main'

permissions: {}

jobs:
  build-matrix:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    outputs:
      matrix: "${{steps.list_dirs.outputs.matrix}}"
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: List tf dirs
        id: list_dirs
        run: |
          # list all files with *.tf files, take the dirname, and dedupe with sort -u
          matrix="$(find . -type f -name "*.tf" -exec dirname "{}" \; | sort -u | jq -cnR '[inputs | select(length>0)]')"
          echo "matrix=${matrix}" >> "$GITHUB_OUTPUT"

  validate:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    needs:
      - build-matrix
    strategy:
      # https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs#defining-the-maximum-number-of-concurrent-jobs
      max-parallel: 10
      fail-fast: false
      matrix:
        dirs: ${{ fromJson(needs.build-matrix.outputs.matrix) }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: chainguard-dev/actions/setup-terraform@b479012116eacde7f895586c17b598f7ba0ee700 # v1.5.9
        with:
          terraform-version-file: './.terraform-version'
          terraform-wrapper: false

      - working-directory: ${{ matrix.dirs }}
        run: |
          terraform init
          terraform validate

  conclusion:
    permissions:
      actions: read

    needs: validate
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: step-security/workflow-conclusion-action@e624ac1e0582b6498a4ddaa8cf623532fc7b95ea # v3.0.9

      - if: ${{ env.WORKFLOW_CONCLUSION == 'success' }}
        working-directory: /tmp
        run: echo ${{ env.WORKFLOW_CONCLUSION }} && exit 0

      - if: ${{ env.WORKFLOW_CONCLUSION == 'failure' }}
        working-directory: /tmp
        run: echo ${{ env.WORKFLOW_CONCLUSION }} && exit 1
